@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Erica+One&family=Fontdiner+Swanky&family=Geist+Pixel&family=Jersey+25&family=Permanent+Marker&family=Rubik+Dirt&family=Rubik+Spray+Paint&display=swap");

.geist-pixel-uniquifier {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.erica-one-regular {
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
