:root {
  --primary-color: #5e0006;
  --secondry-color: #9b0f06;
  --highlight-color: #d53e0f;
  --accent-color: #ffe100;
  --background-color: #ffe10011;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.content-container {
  height: 100dvh;
  width: 100vw;
}
